<!--<img src="../../assets/abstract-wallpaper.png" style="width: 100%">-->
<div class="background" #top>
  <div class="gradient">
    <div class="container">
      <div class="centrer">
        <div><h1 [ngClass]="routeAnimationsElements">About Me</h1></div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <!-- Works for including '#' -->
  <p [ngClass]="routeAnimationsElements">
    I am a French engineering student at <a href="https://www.mines-stetienne.fr/">École des Mines de Saint-Étienne</a>.
    I majored in Computer Sciences and Artificial Intelligence during the past year.
    For my last year before graduation, I am going to major in Data Sciences and Big Data.
  </p>
  <p [ngClass]="routeAnimationsElements">
    Along with my courses, I am most of the time building web development projects. To achieve them, I use a lot of MOOCs and read many articles.
    That is how I acquired plenty of skills. <a class="more" routerLink="/skills">Learn more ...</a>
  </p>
  <p [ngClass]="routeAnimationsElements">
    The engineering school made me also discover the student's associations.
    I spent the last year on the Executive Committee of three associations including the school's Student Union.
    It taught me a lot about team management and commitment.
  </p>
  <p [ngClass]="routeAnimationsElements">
    Moreover I found time for my hobbies. I run at least once a week. I am also regularly practising climbing and skiing. I enjoy cooking and crafting too.
  </p>
</div>


